.container {
	width: 50%;
	display: flex;
	justify-content: center;
	background-image: url("../images/large.jpg");
	background-position: cover;
	background-position: center;
	color: black;
	margin-top: 10px;
	height: 600px;
	width: 400px;
	-webkit-box-shadow: -3px -4px 71px -19px rgba(0,0,0,0.75);
	box-shadow: -3px -4px 71px -19px rgba(0,0,0,0.75);
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	height: 1000px;
}

.container-middle {
	display: flex;
	width:50%;
	border-radius: 10px;
	border-radius: 20px;
	margin-top: 7%;
	color:white;
	position: relative;
}
.input{
	color: black;
	margin-left: 10%;
	border-radius: 5px;
	border:1px solid white;
}
.input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.input[type=text]:focus {
    width: 30%;
}
button {
	box-shadow: none;
	background-color:white;
	border:1px solid white;
	color: black;
	border-radius: 2px;
	height: 26px;
	margin-top: -50px;
}
.city {
	margin-left: 100px;
	font-size: 3em;
	letter-spacing: 2px;
}
.infos {
	margin-top: 150px;
}
.temp {
	margin-top: 4px;
	font-size: 4em;
	width: 500px;
}
.temperature {
	display: flex;
}
.humidite {
	display: flex;
	align-items: center;
}
.fa-sun-o {
	margin-top:120px;
	font-size: 4em;
	margin-left: 50px;
}
.humidite .fa-tint {
	font-size: 2em;
}

.hum {
	margin-left: 10px;
}
.temp_logo {
	display: flex;
	margin-top: -50px;
}
.temp-max {
	font-size: 2em;
	margin-top:-10px;
}
.titre {
	text-align: center;
	background-color: #F4F4F4;
}
.icon-sun {
	color:black;
}
.date {
	margin-left: 191px;
	margin-top: -30px;
}
